<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TFTroll</title>
    <style>
        body {
            background: #555;
        }

        .content {
            max-width: 500px;
            margin: auto;
            background: white;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="content">
        <img width="128" height="128" src="http://ddragon.leagueoflegends.com/cdn/9.14.1/img/profileicon/{{icon}}.png">
        <p><b>Nome de invocador:</b> {{ name }} </p>
        <p><b>Liga:</b> {{ league }} </p>
        <p><b>Pontos de liga:</b> {{ points }} </p>
    </div>
</body>
</html>