<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TFTroll</title>
    <style>
        body {
            margin: 0;
            padding: 0 ;
            font-family: "Segoe UI",Arial,sans-serif;
            background: #0d202b;
            background: linear-gradient(to right, #0D202A, #0d202b);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            min-height: 100vh;
            overflow: hidden;
        }

        .center {
            position:fixed;
            top: 50%;
            left: 50%;
            width:30em;
            height:18em;
            margin-top: -9em; /*set to a negative number 1/2 of your height*/
            margin-left: -15em; /*set to a negative number 1/2 of your width*/
            border: 1px solid #ccc;
            background-color: #f3f3f3;
        }
        .content {
            max-width: 500px;
            margin: auto;
            background: white;
            padding: 10px;
        }

        .search{
            width: 600px;
            border-radius: 8px;
            padding: 15px;
            background: #fff;
            filter: drop-shadow(1px 4px 10px rgba(0, 0, 0, 0.3));
        }

        .box{
            width: 600px;
            min-height: 200px;
            height: auto;
            border-radius: 8px;
            padding: 35px;
            background: #fff;
            filter: drop-shadow(1px 4px 10px rgba(0, 0, 0, 0.3));
        }
    </style>
</head>
<body>
    <div class="search">
        <form action="profile.php" method="GET">
            <select name="region">
                <option value="0">BR</option>
                <option value="1">EUNE</option>
                <option value="2">EUW</option>
                <option value="3">JP</option>
                <option value="4">KR</option>
                <option value="5">LAN</option>
                <option value="6">LAS</option>
                <option value="7">NA</option>
                <option value="8">OCE</option>
                <option value="9">TR</option>
                <option value="10">RU</option>
                <option value="11">PBE</option>
            </select>
            <input name="q" type="text">
            <input type="submit">
        </form>
    </div>
</body>
</html>