<div class="content">
    <form action="profile.php" method="GET">
        <select name="region">
            <option value="0">BR</option>
            <option value="1">EUNE</option>
            <option value="2">EUW</option>
            <option value="3">JP</option>
            <option value="4">KR</option>
            <option value="5">LAN</option>
            <option value="6">LAS</option>
            <option value="7">NA</option>
            <option value="8">OCE</option>
            <option value="9">TR</option>
            <option value="10">RU</option>
            <option value="11">PBE</option>
        </select>
        <input name="q" type="text">
        <input type="submit">
    </form>
</div>